html,body{
    padding:0;
    margin: 0;
    font-family: sans-serif;
}
#top-bar{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #3572E3;
    color: white;
    box-shadow: 0 1px 2px #343434;
    font-size: 1.3em;
}
#message{
    padding: 5px 15px;
    background: rgba(29, 76, 165, 0.87);
    color: #CBDAF6;
}
.container{
    padding: 15px;
}
.link{
    background: #f7f7f7;
    padding: 25px;
    margin-bottom: 20px;
    border-left: 4px solid #3572E3;
    display: block;
}
a{
    color: #333;
    text-decoration: none;
}